<h1>WHERE'S MY CAR</h1>
<section class="insert">
    <h3>Register Data</h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="plate">Plate No.</label>
            <input type="text" id="plate" name="plate">
        </div>
        <button type="submit">Register</button>
    </form>
</section>